.gf-subnav-section {
  background-color: #EAEAEA;
  box-shadow: 0 1px 12px #CACACA;
}

.gf-subnav {
  list-style: none;
  margin: 0;
}

.gf-subnav li {
  float: left;
}

.gf-subnav li a {
  padding: 0px 18px;
  line-height: 60px;
  display: block;
  color: rgb(52, 52, 52);
}

.gf-subnav li a:hover {
  background-color: rgb(214, 214, 214);
}

.gf-subnav input, .gf-subnav button { margin: 0; }
.gf-subnav input { border-radius: 4px 0 0 5px; }
.gf-subnav button { border-radius: 0 4px 4px 0; }


.gf-subnav .has-form {
  padding: 12px 26.66667px;
}
